<table>
  <tr>
    <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
    <td><input ng-model="editPopover.name" type="text"></td>
  </tr>
  <tr>
    <td><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></td>
    <td><input ng-model="editPopover.address" type="text"></td>
  </tr>
  <tr>
    <td><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></td>
    <td><input ng-model="editPopover.description" type="text"></td>
  </tr>
  <tr>
    <td></td>
    <td><button ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
    	<button ng-click="saveEdit()" class="btn btn-primary">Save</button>
   	</td>
  </tr>
</table>