<table>
  <tr>
    <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
    <td><input ng-model="addPopover.name" type="text"></td>
  </tr>
  <tr>
    <td><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></td>
    <td><input ng-model="addPopover.address" type="text"></td>
  </tr>
  <tr>
    <td><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></td>
    <td><input ng-model="addPopover.description" type="text"></td>
  </tr>
  <tr>
    <td></td>
    <td><button ng-click="cancelAdd()" class="btn btn-default">Cancel</button>
    	<button ng-click="saveAdd()" class="btn btn-primary">Add</button>
   	</td>
  </tr>
</table>